{% extends 'base.html' %}
{% block title %}{{ blog.title }} {% endblock %}


{% block extrahead %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/blog_style.css' %}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style_old.css' %}"> -->
{% endblock %}

{% block content %}

    <!-- breadcrumb start-->
    <!-- <section class="breadcrumb breadcrumb_bg align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-6">
                    <div class="breadcrumb_tittle text-left">
                        <h2>blog details</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb_content text-right">
                        <p>Home<span>/</span>blog details</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- breadcrumb start-->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area all_post section_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{ blog.title }}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> {{ blog.category }}                        </a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                     </ul>
                     <p>
                        {{ blog.parsed_content |safe }}
                       
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                     </ul>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="#">
                                 <h4>Space The Final Frontier</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="#">
                                 <h4>Telescopes 101</h4>
                              </a>
                           </div>
                          
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="img/blog/author.png" alt="">
                     <div class="media-body">
                        <a href="#">
                           <h4>Harvard milan</h4>
                        </a>
                        <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                           our dominion twon Second divided from</p>
                     </div>
                  </div>
               </div>

               {% if comments.count > 0 %}               
                  <div class="comments-area">
                     <h4>{{ comments.count }} Comments</h4>
                     {% for comment in comments %}
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="thumb">
                                 <img src="{% static 'img/comment/user_profile.png' %}" alt="">
                              </div>
                              <div class="desc">
                                 <p class="comment">
                                    {{ comment.message }}
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                       <h5>
                                          <a href="#">{{ comment.name }}</a>
                                       </h5>
                                       <p class="date">{{ comment.creation_time }} </p>
                                    </div>
                                    <!-- <div class="reply-btn">
                                       <a href="#" class="btn-reply text-uppercase">reply</a>
                                    </div> -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
               
                  </div>
               {% endif %}

               <!-- <form method="post">
                  {% csrf_token %}
                  {% for field in form %}
                    <p>
                      {{ field.label_tag }}<br>
                      {{ field }}
                      {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                      {% endif %}
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </p>
                  {% endfor %}
                  <button type="submit">Sign up</button>
                </form> -->
               <!-- Start of comment form -->
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" action="#" id="commentForm" method="POST">
                     {% csrf_token %}
                     {% for field in form %}
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
<!--                         
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Write Comment"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                     </div> -->
                     {% endfor %}
                     <div class="load_btn">
                        <button type="submit" class="btn_1">Sign up</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-lg-4">
                  <div class="sidebar_widget">
                        <div class="single_sidebar_wiget search_form_widget">
                              <form action="#">
                              <div class="form-group">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="btn_1">search</div>
                              </div>
                              </form>
                        </div>
                        <div class="single_sidebar_wiget">
                              <div class="sidebar_tittle">
                              <h3>Categories</h3>
                              </div>
                              <div class="single_catagory_item category">
                              <ul class="list-unstyled">
                                    <li><a href="single-blog.html">Culture</a> <span>(15)</span> </li>
                                    <li><a href="single-blog.html">Creative Design</a> <span>(15)</span> </li>
                                    <li><a href="single-blog.html">Illustration</a> <span>(15)</span> </li>
                                    <li><a href="single-blog.html">Production</a> <span>(15)</span> </li>
                                    <li><a href="single-blog.html">Mangement</a> <span>(15)</span> </li>
                                    <li><a href="single-blog.html">Branding</a> <span>(15)</span> </li>
                              </ul>
                              </div>
                        </div>
                        <div class="single_sidebar_wiget">
                              <div class="sidebar_tittle">
                              <h3>Popular Feeds</h3>
                              </div>
                              <div class="single_catagory_post post_2 ">
                              <div class="category_post_img">
                                    <img src="img/sidebar/sidebar_1.png" alt="">
                              </div>
                              <div class="post_text_1 pr_30">
                                    <a href="single-blog.html">
                                          <h3>Subdue lesser beast winged
                                          bearing meat tree one</h3>
                                    </a>
                                    <p><span> By Michal</span> / March 30</p>
                              </div>
                              </div>
                              <div class="single_catagory_post post_2 ">
                              <div class="category_post_img">
                                    <img src="img/sidebar/sidebar_2.png" alt="">
                              </div>
                              <div class="post_text_1 pr_30">
                                    
                                    <a href="single-blog.html">
                                          <h3>Subdue lesser beast winged
                                          bearing meat tree one</h3>
                                    </a>
                                    <p><span> By Michal</span> / March 30</p>
                              </div>
                              </div>
                              <div class="single_catagory_post post_2">
                              <div class="category_post_img">
                                    <img src="img/sidebar/sidebar_3.png" alt="">
                              </div>
                              <div class="post_text_1 pr_30">
                                    <a href="single-blog.html">
                                          <h3>Subdue lesser beast winged
                                          bearing meat tree one</h3>
                                    </a>
                                    <p><span> By Michal</span> / March 30</p>
                              </div>
                              </div>
                        </div>
                        
                        <div class="single_sidebar_wiget">
                              <div class="sidebar_tittle">
                              <h3>Share this post</h3>
                              </div>
                              <div class="social_share_icon tags">
                              <ul class="list-unstyled">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                              </ul>
                              </div>
                        </div>
                  </div>
            </div>
         </div>
      </div>
   </section>
   <!--================Blog Area end =================-->

      <!-- jquery plugins here-->
      <script src="js/jquery-1.12.1.min.js"></script>
      <!-- popper js -->
      <script src="js/popper.min.js"></script>
      <!-- bootstrap js -->
      <script src="js/bootstrap.min.js"></script>
      <!-- custom js -->
      <script src="js/custom.js"></script>

{% endblock %}
